---
# SPDX-FileCopyrightText: 2025 Vasco Guita <vasco@guita.org>
#
# SPDX-License-Identifier: MIT

name: Build
on: [push, workflow_dispatch]
permissions:
  contents: write
  packages: write
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: |
            ${{
              startsWith(github.ref, 'refs/heads/main') &&
              format('ghcr.io/{0}:latest', github.repository) ||
              ''
            }}
            ${{
              startsWith(github.ref, 'refs/tags/') &&
              format('ghcr.io/{0}:{1}', github.repository, github.ref_name) ||
              ''
            }}
            ghcr.io/${{ github.repository }}:${{ github.run_id }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
  build:
    runs-on: ubuntu-latest
    container: ghcr.io/${{ github.repository }}:${{ github.run_id }}
    needs: docker
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v5
      - name: Build PDF
        run: make
      - uses: actions/upload-artifact@v5
        with:
          path: cv.pdf
      - name: Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          files: cv.pdf
